- const className = 'preview'
- const headingClassName = 'heading preview__heading'
  section(class= className)
    h2(class= headingClassName)
      span Новая
      span круизная
      span коллекция 19