.burger {
  position: relative;
  margin-top: 9px;
  width: 33px;
  border-top: 2px solid #352f2f;
}
.burger:after {
  content: '';
  position: absolute;
  right: 0;
  top:6px;
  display: block;
  width: 18px;
  border-top: 2px solid #352f2f;
}

.burger:before {
  content: '';
  position: absolute;
  left: 0;
  top:14px;
  display: block;
  width: 18px;
  border-top: 2px solid #352f2f;
}

@media (min-width: 320px) and (max-width: 763px) {

}

@media (min-width: 764px) and (max-width: 1439px) {

}

@media (min-width: 1440px) {

}