-
  const menuData = [{src: './nav/img/magnifying-glass.png',
  alt:'Поиск'
  },
  {src:'./nav/img/avatar.png',
  alt:'Профиль'
  },
  {src:'./nav/img/shopping-bag.png',
  alt:'Корзина'
  }]


- const ulClassName = 'main-menu header__main-menu'
-  const itemClassName = 'menu-item'
-  const linkClassName = 'menu-link'
  ul(class= ulClassName)
    each item in menuData
      li(class=itemClassName)
        a(class= linkClassName)
          img(src= item.src, alt= item.alt)