- const itemSrcs = ['./img/nav/magnifying-glass.png', './img/nav/avatar.png', './img/nav/shopping-bag.png']
- const ulClassName = 'main-menu'
- const itemClassName = 'menu-item'
- const linkClassName = 'menu-link'
  ul(class= ulClassName)
    each item in itemSrcs
      li(class= itemClassName)
        a(class= linkClassName)
          img(src= item)